*{
    margin: 0;
    padding: 0;     /*Div elemanının içeriği ile sınırları arasındaki boşluk */
}


.container{

    display: flex;
    

    /*
    background: url(sagopa.jpg);                   
    */
    
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    height: 80px;
    background: rgba(255, 0, 0, 0.5) /*Burada Kaldın******************************************/

}

.navbar ul{

    text-align: right;
}

.navbar ul li{

    padding: 20px, 40px;
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px, 13px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: orange;
    border-radius: 2px;
}